<input type="hidden" name="modulo" id="moduloUser" value="{{user.modulo}}">

<section class="registro-data">
    <div class="state">REGISTRO DE INCUBACIÓN</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}
    <div class="data">
        <form action="/incubadora/incubacion/add" method="post">
            <div class="data-valor1">
                <p class="description">Identificador: </p>
                <p>
                    <input type="hidden" id="valor" value="incubacion">
                    <input type="text" name="identificador" id="idIncubacion" value="" readonly>
                </p>
            </div>
            <div class="data-valor1">
                <p class="description">Incubadora:</p>
                <p>
                    <select id="selectBuscador" name="incubadora" required>
                        <option value="">Seleccione...</option>
                        {{#each data.dataIncubadora}}
                        <option value="{{id_incubadora}}">{{nombre_incubadora}}</option>
                        {{/each}}
                    </select>
                </p>
            </div>
            <div class="data-valor1">
                <p class="description">Pedido Correspondiente:</p>
                <p>
                    <select id="selectBuscador2" name="id_pedido" required>
                        <option value="">Seleccione...</option>
                        {{#each data.dataPedido}}
                        <option value="{{id_pedido}}">{{id_pedido}}</option>
                        {{/each}}
                    </select>
                </p>
            </div>
            <div class="data-valor1">
                <p class="description">Fecha Ingreso: </p>
                <p><input type="date" name="fecha_ingreso" value="{{data.fecha_ingreso}}" required></p>
            </div>
            <div class="data-valor1">
                <p class="description">Fecha Salida: </p>
                <p><input type="date" name="fecha_salida" value="{{data.fecha_salida}}" required></p>
            </div>
            <div class="data-valor1">
                <p class="description">Hora Ingreso </p>
                <p><input type="time" name="hora_ingreso" value="{{data.hora_ingreso}}" required></p>
            </div>
            <div class="data-valor1">
                <p class="description">Estado:</p>
                <p>
                    <select name="estado" required>
                        <option value="">Seleccione...</option>
                        <option value="Activo">Activo</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </p>
            </div>
            <div class="data-valor1">
                <p class="description">Piso Inicio: </p>
                <p><input type="text" name="piso_inicio" value="" required pattern="[0-9]+"
                        title="Ingrese solo números"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Piso Fin: </p>
                <p><input type="text" name="piso_fin" value="" required pattern="[0-9]+" title="Ingrese solo números">
                </p>
            </div>
            <div class="data-valor1">
                <p class="description">Cantidad Ingreso: </p>
                <p><input type="text" name="cantidad_ingreso" value="" required pattern="[0-9]+"
                        title="Ingrese solo números"></p>
            </div>

            <div class="data-boton">
                <p class="boton"><button type="submit">Registrar</button></p>
            </div>

        </form>
    </div>
</section>