<input type="hidden" name="modulo" id="moduloUser" value="{{user.modulo}}">

<section class="registro-data">
    <div class="state">REGISTRO DE REPRESENTANTE LEGAL</div>
    <div class="data">
        <form action="/usuario/representante/add" method="post">
            <div class="data-valor4">
                <p class="description">Empresa:</p>
                <p>
                    <select id="selectBuscador" name="id_empresa" required>
                        <option value="" style="background: #9c9c9c; color: rgb(238, 245, 143)">Seleccione...</option>
                        {{#each data}}
                        <option value="{{ id_empresa }}">{{ nombre_empresa }}</option>
                        {{/each}}
                    </select>
                </p>
            </div>
            <div class="data-valor1">
                <p class="description">Cargo: </p>
                <p><input type="text" name="cargo" value="" required pattern="[A-Z a-z]+"
                        title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor1">
                <p class="description">DNI: </p>
                <p><input type="text" name="dni_persona" value="" required pattern="[0-9]+" maxlength="8"
                        title="Ingrese solo números sin espacios"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Nombres: </p>
                <p><input type="text" name="nombres" value="" required pattern="[A-Z a-z]+"
                        title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Apellidos: </p>
                <p><input type="text" name="apellidos" value="" required pattern="[A-Z a-z]+"
                        title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Fecha Nacimiento: </p>
                <p><input type="date" name="fecha_nacimiento" value="{{data.fecha_ingreso}}" required></p>
            </div>
            <div class="data-valor1">
                <p class="description">Genero: </p>
                <p>
                    <select name="genero" required>
                        <option value="">Seleccione...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </p>
            </div>
             <div class="data-valor1">
                <p class="description">Dirección: </p>
                <p><input type="text" name="direccion" value="" required pattern="[A-Z a-z 0-9]+" title="Ingrese solo letras Mayúsculas, minúsculas y números"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Celular: </p>
                <p><input type="text" name="celular" value="" required pattern="[0-9]+"
                        maxlength="9" title="Ingrese solo números sin espacios"></p>
            </div>
            <div class="data-valor1">
                <p class="description">E-mail: </p>
                <p><input type="email" name="email" value="" required></p>
            </div>


            <div class="data-valor4">
                <p class="description">Tipo de usuario:</p>
                <p>
                    <select name="modulo" required>
                        <option value="Representante_Legal">Representante Legal</option>
                    </select>
                </p>
            </div>

            <div class="data-boton">
                <p class="boton"><button type="submit">Registrar</button></p>
            </div>

            {{#if message }}
            <div class="messageError">{{ message }}</div>
            {{/if}}

            {{#if success }}
            <div class="messageSuccess">{{ success }}</div>
            {{/if}}
        </form>
    </div>
</section>