<input type="hidden" name="modulo" id="moduloEditUser" value="{{usuario.modulo}}">
<section class="registro-data">
    <div class="state">EDITAR REPRESENTANTE</div>
    <div class="data">
        <form action="/usuario/representante/update/{{data.representante.id_persona}}&{{data.representante.id_representante}}" method="post">
            {{#with data.representante}}
            {{#with persona}}
            <div class="data-valor2">
                <p class="description">DNI: </p>
                <p><input type="text" name="dni" value="{{dni_persona}}" readonly pattern="[0-9]+"
                        maxlength="8" title="Ingrese solo números sin espacios"></p>
            </div>
            <div class="data-valor2">
                <p class="description">Nombres: </p>
                <p><input type="text" name="nombres" value="{{nombres}}" required pattern="[A-Za-z\s]{3,30}" title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor2">
                <p class="description">Apellidos: </p>
                <p><input type="text" name="apellidos" value="{{apellidos}}" required pattern="[A-Za-z\s]{3,30}" title="Ingrese solo letras Mayúsculas y minúsculas"></p>
            </div>
            <div class="data-valor2">
                <p class="description">Fecha Nacimiento: </p>
                <p><input type="date" name="fecha_nacimiento" value="{{fecha_nacimiento}}" required></p>
            </div>
            <div class="data-valor2">
                <p class="description">Genero: </p>
                <p>
                    <select name="genero" required>
                        <option value="{{genero}}" style="background: #9c9c9c; color: rgb(238, 245, 143)">{{genero}}</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </p>
            </div>
            <div class="data-valor2">
                <p class="description">Dirección: </p>
                <p><input type="text" name="direccion" value="{{direccion}}" required></p>
            </div>
            <div class="data-valor2">
                <p class="description">Celular: </p>
                <p><input type="text" name="celular" value="{{celular}}" required pattern="[0-9]+"
                        maxlength="9" title="Ingrese solo números sin espacios"></p>
            </div>
            <div class="data-valor2">
                <p class="description">E-mail: </p>
                <p><input type="email" name="email" value="{{email}}" required></p>
            </div>
            {{/with}}
            <div class="data-valor2">
                <p class="description">Estado: </p>
                <p>
                    <select name="estado" required>
                        <option value="{{estado}}" style="background: #9c9c9c; color: rgb(255, 255, 255)">{{estado}}</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </p>
            </div>
            {{/with}}
            <hr>
            <br>
            <div class="data-table-pagination_Empresa">
                <div class="linkAsociar">
                    <p>
                        <input type="hidden" id="id_representante" value="{{data.representante.id_representante}}" required>
                        <select id="selectBuscador">
                            <option value="" style="background: #9c9c9c; color: rgb(255, 255, 255)">Seleccione...</option>
                            {{#each data.empresa}}
                            <option value="{{ruc_empresa}}">{{nombre_empresa}}</option>
                            {{/each}}
                        </select>
                        <a onclick="myFunctionAsociar()">Asociar Empresa</a>
                    </p>
                </div>
                <br>
                <table id="example1" class="data-table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 100px;"><p class="description-name">Activar / Desactivar</p></th>
                            <th><p class="description-name">Empresa</p></th>
                            <th><p class="description-name">Estado</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.empresa_asociada}}
                        <tr>
                            <td><p class="description"> <input type="checkbox" name="representante_empresa" value="{{id_representante_empresa}}&{{estado}}"> </p></td>
                            <td><p class="description-valor">{{'empresa.nombre_empresa'}}</p></td>
                            <td><div class="description stated">{{estado}}<div hidden>{{ estado }}</div></div></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <br><br>
            <div class="data-boton">
                <p class="boton"><button type="submit">Modificar</button></p>
            </div>
        </form>
    
    </div>
</section>