<section class="list-data">
    <div class="state">REGISTRO DE PEDIDOS</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}
    <div class="list-cuerpo">
        <div class="addBoton">
            <p class="boton">
                <a href="/pedido/add">
                    <strong> <i class="icon-plus"></i> Pedido</strong>
                </a>
            </p>
        </div>
        <div class="data-table-pagination">
            <table id="example1" class="data-table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><p class="description">DNI</p></th>
                        <th><p class="description-name">Representante Legal - Pedido</p></th>
                        <th><p class="description">Nº Pedidos</p></th>
                        <th><p class="description">Editar </p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><p class="description">{{'persona.dni_persona'}}</p></td>
                        <td><p class="description-valor">{{'persona.nombres'}} {{'persona.apellidos'}}</p></td>
                        <td><p class="description">{{n_pedidos}}</p></td>
                        <td>
                            <p class="description">
                                <a href="/pedido/view/{{id_persona}}"> 
                                    <i class="icon-file-text icono" title="Visualizar Pedidos"></i> 
                                </a>
                            </p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>