<section class="list-data">
    <div class="state">REGISTRO DE SENSORES</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}
    <div class="list-cuerpo">
        <div class="addBoton">
            <p class="boton">
                <a href="/sensores/add">
                    <strong> <i class="icon-plus"></i> Sensor</strong>
                </a>
            </p>
        </div>
        <div class="data-table-pagination">
            <table id="example1" class="data-table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><p class="description">id_sensor</p></th>
                        <th><p class="description">Nombre Sensor</p></th>
                        <th><p class="description">Estado</p></th>
                        <th><p class="description">Incubadora</p></th>
                        <th><p class="description">Tipo Sensor</p></th>
                        <th><p class="description">Editar </p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><p class="description">{{'sensores.id_sensor'}}</p></td>
                        <td><p class="description">{{'sensores.nombre_sensor'}}</p></td>
                        <td><div class="description stated">{{'sensores.estado'}}<div hidden>{{'sensores.estado'}}</div></div></td>
                        <td><p class="description">{{nombre_incubadora}}</p></td>
                        <td><p class="description">{{'sensores.tipo_sensor.tipo_sensor'}}</p></td>
                        <td>
                            <p class="description"><a href="/usuario/edit/{{id_persona}} {{id_usuario}}"><img
                            src="/img/editar.png" alt="icon de Editar"></a></p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>