<section class="list-data">
    <div class="state">REGISTRO DE PERSONAL</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}
    <div class="list-cuerpo">
        <div class="addBoton">
            <p class="boton">
                <a href="/usuario/add">
                    <strong> <i class="icon-plus"></i> Usuario</strong>
                </a>
            </p>
        </div>
        <div class="data-table-pagination">
            <table id="example1" class="data-table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><p class="description">Dni</p></th>
                        <th><p class="description-name">Nombres y Apellidos</p></th>
                        <th><p class="description option">Contacto</p></th>
                        <th><p class="description">Nivel de Acceso</p></th>
                        <th><p class="description">Editar </p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><p class="description">{{dni_persona}}</p></td>
                        <td><p class="description-valor">{{nombres}} {{apellidos}}</p></td>
                        <td><p class="description">{{celular}}</p></td>
                        <td><p class="description">{{'usuario.modulo'}}</p></td>
                        <td>
                            <p class="description"><a href="/usuario/edit/{{id_persona}} {{id_usuario}}"><img
                            src="/img/editar.png" alt="icon de Editar"></a></p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>