<section class="list-data">
    <div class="state">REGISTRO DE REPRESENTANTE LEGAL</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}
    <div class="list-cuerpo">
        <div class="addBoton">
            <p class="boton">
                <a href="/usuario/representante/add">
                    <strong> <i class="icon-plus"></i> Representante Legal</strong>
                </a>
            </p>
        </div>
        <div class="data-table-pagination">
            <table id="example1" class="data-table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><p class="description">Dni</p></th>
                        <th><p class="description-name">Nombres y Apellidos</p></th>
                        <th><p class="description">Contacto</p></th>
                        <th><p class="description">Estado</p></th>
                        <th><p class="description">Editar </p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><p class="description">{{'persona.dni_persona'}}</p></td>
                        <td><p class="description-valor">{{'persona.nombres'}} {{'persona.apellidos'}}</p></td>
                        <td><p class="description">{{'persona.celular'}}</p></td>
                        <td><div class="description stated">{{estado}}<div hidden>{{ estado }}</div></div></td>
                        <td>
                            <p class="description"><a href="/usuario/representante/edit/{{'persona.dni_persona'}}&{{id_representante}}"><img
                            src="/img/editar.png" alt="icon de Editar"></a></p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>