<section class="list-data">
    <div class="state">REGISTRO DE EMPRESA</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}
    <div class="list-cuerpo">
        <div class="addBoton">
            <p class="boton">
                <a href="/empresa/add">
                    <strong> <i class="icon-plus"></i> Empresa</strong>
                </a>
            </p>
        </div>
        <div class="data-table-pagination">
            <table id="example1" class="data-table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><p class="description">Ruc Empresa</p></th>
                        <th><p class="description-name">Nombre</p></th>
                        <th><p class="description">Contacto - Cel.</p></th>
                        <th><p class="description">Contacto - Telef.</p></th>
                        <th><p class="description">E-mail</p></th>
                        <th><p class="description">Editar </p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><p class="description">{{ruc_empresa}}</p></td>
                        <td><p class="description-valor">{{nombre_empresa}}</p></td>
                        <td><p class="description">{{celular}}</p></td>
                        <td><p class="description">{{telefono}}</p></td>
                        <td><p class="description">{{email}}</p></td>
                        <td>
                            <p class="description"><a href="/usuario/edit/{{id_persona}} {{id_usuario}}"><img
                            src="/img/editar.png" alt="icon de Editar"></a></p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>