<section class="list-data">
    <div class="state">MONITOREO DE INCUBACIÓN</div>
    {{#if message }}
    <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
    <div class="messageSuccess">{{ success }}</div>
    {{/if}}

    <div class="contenedor-options">
        <form action="/monitoreo" method="post">
            <div class="incubacion-opcion">
                <div class="data-valor1">
                    <p class="description">Empresa:</p>
                    <p>
                        <select id="selectBuscador" name="id_representante_empresa" onchange="showSelectedEmpresa()" required>
                            <option value="">Seleccione...</option>
                            {{#each data.representanteEmpresa}}
                            <option value="{{'representante.representante_empresas.id_representante_empresa'}}">
                                {{'representante.representante_empresas.empresa.nombre_empresa'}}</option>
                            {{/each}}
                        </select>
                    </p>
                </div>
                <div class="data-valor1" id="pedidos"></div>
                <div class="data-valor1">
                    <p class="boton">
                        <button type="submit">Buscar</button>
                    </p>
                </div>
            </div>
        </form>
    </div>

    <hr>

    {{#if data.message}}
    <div class="message">{{data.message}}</div>
    {{/if}}

    {{#if data.estado }}
    <div class="contenedor-sensores">
        <div class="incubacion-dataSensor">
            <div class="iconzoom">
                <i class="icon-podcast"></i>
            </div>
            <div class="dataSensor">
                <div class="dataSensor-name"><i class="icon-feed"></i> Temperatura: </div>
                <div id="proTemperatura"></div>
            </div>
            <div class="dataSensor">
                <div class="dataSensor-name"><i class="icon-feed"></i> Humedad: </div>
                <div id="proHumedad"></div>
            </div>
            <div class="camera">
                <i class="icon-camera"></i>
            </div>
        </div>
    </div>

    <div class="container-data">
        <div class="data-valor">
            <div class="valor1">
                <div class="name">Representante: </div>
                <div>{{data.persona.nombres}} {{data.persona.apellidos}}</div>
            </div>
            <div class="valor1">
                <div class="name">Pedido: </div>
                <div>{{data.persona.pedido}}</div>
            </div>
        </div>
    </div>
    {{/if}}


    <div class="containers">
        {{#each data.incubacion}}
        <div class="contenedor-incubacion">
            <div class="incubacion">
                <div class="incubacion-name">
                    <figure>
                        <img src="/img/logo_incubacion.png" alt="" width="60">
                    </figure>
                    <div>
                        <h3>Incubadora</h3>
                        <h4>{{'incubadora.nombre_incubadora'}}</h4>
                    </div>
                </div>
                <div class="incubacion-body">
                    <div class="incubacion-datos">
                        <div>
                            <p>Cantidad de huevos:</p>
                            <p>Días restantes:</p>
                            <p>Fecha de Ingreso:</p>
                            <p>Fecha de Salida:</p>
                        </div>
                        <div>
                            <p>{{cantidad_ingreso}}</p>
                            <p>{{dia_incubacion}}</p>
                            <p>{{fecha_ingreso}}</p>
                            <p>{{fecha_salida}}</p>
                        </div>
                    </div>
                </div>
                <div class="incubacion-grafica">
                    Gráfica
                </div>
            </div>
        </div>
        {{/each}}

    </div>


    <div class="container-sensorRealTime">
        <div class="sensorRealTime">
            <div class="iconzoom-two" id="bottomzoom-two">
                <i class="icon-cross"></i>
            </div>
            <div class="sensor-name">
                <p>SENSORES EN TIEMPO REAL</p>
            </div>
            <div class="sensor-subname">
                <div class="name-one"> Temperatura </div>
                <div class="name-one"> Humedad </div>
            </div>
            <div class="sensor-data">
                <div id="temperatura"></div>
                <div id="humedad"></div>
            </div>
        </div>
    </div>



    {{!-- <div class="addBoton">
            <p class="boton">
                <a href="/usuario/add">
                    <strong> <i class="icon-plus"></i> Sensor</strong>
                </a>
            </p>
        </div> --}}

    {{!-- <br><br> --}}

    {{!-- <div class="data-table-pagination"> --}}




    {{!-- <table id="example1" class="data-table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><p class="description">Tipo de Sensor</p></th>
                        <th><p class="description">Simbolo</p></th>
                        <th><p class="description">Estado</p></th>
                        <th><p class="description">Editar</p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><p class="description">{{tipo_sensor}}</p></td>
                        <td><p class="description">{{simbolo}}</p></td>
                        <td><div class="description stated">{{estado}}<div hidden>{{ estado }}</div></div></td>
                        <td>
                            <p class="description"><a href="/usuario/edit/{{id_persona}} {{id_usuario}}"><img
                            src="/img/editar.png" alt="icon de Editar"></a></p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> --}}
    {{!-- </div> --}}

</section>