<section class="list-data">
    <div class="state">REPORTE DE REPRESENTANTE LEGAL</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}

    <form action="/reporte/replegal" method="POST">
        <div class="list-cuerpo">
            <div class="filtros">
                <div class="filtro">
                    <p>Estado: </p> 
                    <p>
                        <select id="selectBuscador" name="estado">
                            <option value="">Seleccione...</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="">Todos</option>
                        </select>
                    </p>
                </div>
                {{!-- <div class="filtro"><p>Filtro 2: </p> <input type="text" name="" id="" value=""></div>
                <div class="filtro"><p>Filtro 3: </p> <input type="text" name="" id="" value=""></div> --}}
            </div>
            <div class="botonFiltro">
                <button type="submit"><strong> Buscar</strong></button>
                <a href="/reporte/exportar"> Generar Reporte</a>
            </div>
            <div class="data-table-pagination">
                <table id="example1" class="data-table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th><p class="description-name">EMPRESA</p></th>
                            <th><p class="description">NOMBRE</p></th>
                            <th><p class="description">APELLIDO</p></th>
                            <th><p class="description">TELEFONO</p></th>
                            <th><p class="description">EMAIL</p></th>
                            <th><p class="description">DIRECCION REPRESENTANTE LEGAL</p></th>
                            <th><p class="description">DIRECCION DE EMPRESA</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.dataFinal}}
                        <tr>
                            <td><p class="description-valor">{{nombre_empresa}}</p></td>
                            <td><p class="description-valor">{{nombres}}</p></td>
                            <td><p class="description-valor">{{apellidos}}</p></td>
                            <td><p class="description">{{celular}}</p></td>
                            <td><p class="description">{{email}}</p></td>
                            <td><p class="description-valor">{{direccion}}</p></td>
                            <td><p class="description-valor">{{direccion_empresa}}</p></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>