<section class="list-data">
    <div class="state">REPORTE TEMPERATURA Y HUMEDAD POR MÓDULO</div>
    {{#if message }}
        <div class="messageError">{{ message }}</div>
    {{/if}}

    {{#if success }}
        <div class="messageSuccess">{{ success }}</div>
    {{/if}}

    <form action="/reporte/temphumedad" method="POST">
        <div class="list-cuerpo">
            <div class="filtros">
                <div class="filtro">
                    <p>Incubadora:</p>
                    <p>
                        <select id="selectBuscador3" name="incubadora">
                            <option value="">Seleccione...</option>
                            {{#each data.dataIncubadora}}
                            <option value="{{id_incubadora}}">{{nombre_incubadora}}</option>
                            {{/each}}
                        </select>
                    </p>
                </div>
                <div class="filtro">
                    <p>Desde:</p>
                    <p>
                        <input type="date" name="fechaInicio" id="fechaInicio" value="">
                    </p>
                </div>
                <div class="filtro">
                    <p>Hasta:</p>
                    <p>
                        <div id="result"></div>
                    </p>
                </div>
            </div>
            <div class="botonFiltro">
                <button type="submit"><strong> Buscar</strong></button>
                <a href="/reporte/exportar"> Generar Reporte</a>
            </div>
            <div class="data-table-pagination">
                <table id="example1" class="data-table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th><p class="description-name">INCUBADORA</p></th>
                            <th><p class="description">DIA</p></th>
                            <th><p class="description">PROMEDIO TEMPERATURA</p></th>
                            <th><p class="description">PROMEDIO HUMEDAD</p></th>
                            <th><p class="description">FECHA INICIO DE INCUBACION</p></th>
                            <th><p class="description">FECHA FIN DE INCUBACION</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.dataFinal}}
                        <tr>
                            <td><p class="description-valor">{{nombre_incubadora}}</p></td>
                            <td><p class="description">{{dia}}</p></td>
                            <td><p class="description">{{prom_temperatura}}</p></td>
                            <td><p class="description">{{prom_humedad}}</p></td>
                            <td><p class="description">{{fecha_ingreso}}</p></td>
                            <td><p class="description-valor">{{fecha_salida}}</p></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>